nav.navbar.navbar-toggleable-sm.navbar-inverse.bg-primary(role="navigation")
  .container
    button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false")
      span.navbar-toggler-icon
    a.navbar-brand(href="#{pathRoot}") Albert
    #navbar-menu.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item(class="#{pageClass == 'page' ? 'active' : ''}")
          a.nav-link(href="#{pathRoot}page") Page 1
        li.nav-item(class="#{pageClass == 'item1' ? 'active' : ''}")
          a.nav-link(href="#{pathRoot}page") Page 2
        li.nav-item(class="#{pageClass == 'item2' ? 'active' : ''}")
          a.nav-link(href="#{pathRoot}page") Page 3
